<div id="wrapper">
  <h1>Amazon Scraper</h1>
  <div id="info">
    <span id="scraper">
      <h2>
        <i>Click here to scrape Amazon's top 50 new releases in books!</i>
      </h2>
      <div>
        <button>
          Scrape
        </button>
      </div>
    </span>
    <span id="notes-header">
      <h2>
        <i>Leave notes on the books that interest you!</i>
      </h2>
    </span>
  </div>
  <div id="books"></div>
  <div id="notes"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="javascript/app.js"></script>
