<div id="wrapper">
  <h1>Amazon Scraper</h1>
  <button id="scraper">Click here to scrape Amazon's top 50 new releases in books!</button>
  <h2><i>Leave notes on the books that interest you!</i></h2>
  <div id="books"></div>
  <div id="notes"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="javascript/app.js"></script>
