<div id="wrapper">
  <h1>Amazon Scraper</h1>
  <div id="notes-info">
    <h2>
      <i>Read all your saved notes here!</i>
    </h2>
  </div>
  <div id="archived-notes"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="javascript/notes.js"></script>
