body {
  background-image: url(/images/background.jpg);
}

h1 {
  margin-bottom: 0;
  text-align: center;
  font-family: "Rock Salt", cursive;
}

#info {
  display: flex;
}

#scraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 5% 20px 5%;
  text-align: center;
}

button {
  font-size: 18px;
  font-family: "Rock Salt", cursive;
  background-color: antiquewhite;
  padding: 0 10px;
  border: 2px inset burlywood;
  box-shadow: 2px 2px 5px burlywood;
}

#notes-header {
  float: right;
  width: 30%;
  margin: 0 5%;
  text-align: center;
}

#wrapper {
  width: 75%;
  border: 5px inset burlywood;
  margin: 5% auto;
  background-color: blanchedalmond;
}

#books {
  display: inline-block;
  overflow: auto;
  width: 45vw;
  height: 700px;
}

#notes {
  float: right;
  overflow: auto;
  width: calc(100% - 52.5vw);
  height: 700px;
  padding: 0 3.75vw;
  text-align: center;
}

.book {
  width: 275px;
  padding: 5px 20px 20px 20px;
  border: 3px inset burlywood;
  margin: 0 auto 20px auto;
  background-color: #ffffff;
  text-align: center;
}

.rank {
  font-family: "Rock Salt", cursive;
}

ul {
  margin-bottom: 20px;
}

li {
  text-align: left;
}

h2 {
  text-align: center;
}

input, textarea {
  display: block;
  width: 100%;
  background-color: antiquewhite;
}

input {
  height: 36px;
  font-size: 24px;
  text-align: center;
}

textarea {
  height: 200px;
  font-size: 18px;
}

.save-note {
  margin-top: 15px;
  margin-bottom: 12px;
}

.note-container {
  position: relative;
  width: calc(100% - 16px);
  padding: 0 10px;
  border: 2px inset burlywood;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: antiquewhite;
}

.delete-note {
  position: absolute;
  right: 0;
}

.delete-note > button {
  font-size: 12px;
  border: 1px inset burlywood;
}

h4 {
  margin-top: 45px;
}

p.body {
  text-align: left;
}

#notes-info {
  text-align: center;
}
